.onglet{
  display: flex;
  flex-direction: row;
}

.ongletHeader{
  margin: 2rem;
  color: white;
  font-size: large;
  font-weight: bold;
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
}

/* Changes for when using Onglet on mobile */
@media (max-width: 800px) {
  .onglet {
    flex-direction: column;
  }
}

.header{
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block{
  display: flex;
  flex-direction: row;
  background-color: beige;
  border-radius: 2em;
  margin: 2em;
  align-items: center;
}

.titleAndContent{
  display: flex;
  flex-direction: column;
}

.textRight{
  text-align: end;
}

.textCenter{
  align-items: center;
  text-align: center;
}

.callToAction{
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1%;
}